body {
    background-color: rgb(46, 45, 52);
}

.race_info {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.time {
    width : 50%;
    display: flex;
    margin-right: 40px;
}
.laps {
    margin-right: 40px;
    font-size: 50px;
    color :chocolate;
}

.digit {
    font-size: 20px;
    color: #fff;font-size: 50px;
    color :chocolate;
}
.txt {
    font-size: 20px;
    color: #fffcd6;
    color :chocolate;
    font-size: 50px;
}

/* Row of cells CSS */
.row_top
{
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row_bottom {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Columns CSS */
.columns {
    display: flex;
    justify-content: space-between;
}
.column_left {
    margin-left: 62px;
}
.column_right {
    margin-right: 60px;
}

/* CSS for Square cell and selected square cell */
.square {
    margin: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 6px;
    width: 60px;
    height: 60px;
    border: 2px solid black;
}
.selectedSquare {
    margin: 10px;
    border-radius: 6px;
    background-color: rgb(46, 45, 52);
    width: 60px;
    height: 60px;
    border: 2px solid black;
    display: inline-block;
    position: relative;
}
.selectedSquare::before {
    border-radius: 6px;
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: grey;
    
}

#buttons {
    margin-top: 50px;
}
.btn {
    margin-top: 50px;
    width: 100px;
    padding: 10px 15px;
    margin : 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    color: white;
    font-weight: 500;
}
#start {
    background-color: #009779;
}

/* CSS for Countdown section */
.countdown {
    display: none;
}
.countdown_numbers {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: red;
    /* text-col */
    /* display: none; */
}
.countdown_text {
    margin-top: 30px;
    font-size: 70px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    /* text-col */
    /* display: none; */
}
.countdown_directions {
    font-size: 70px;
    /* margin-top: 30px; */
    font-family: Arial, Helvetica, sans-serif;
    /* text-col */
    /* display: none; */
}