body {
    background-color: rgb(46, 45, 52);
}
.row_top
{
    margin-top: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row_bottom {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.columns {
    display: flex;
    justify-content: space-between;
}

.column_left {
    margin-left: 62px;
}

.column_right {
    margin-right: 60px;
}
.square {
    margin: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 6px;
    width: 60px;
    height: 60px;
    border: 2px solid black;
}
.selectedSquare {
    margin: 10px;
    border-radius: 6px;
    background-color: rgb(46, 45, 52);
    width: 60px;
    height: 60px;
    border: 2px solid black;
    display: inline-block;
    position: relative;
}

.selectedSquare::before {
    border-radius: 6px;
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: grey;
    
}