body {
    background-color: rgb(46, 45, 52);
}
.row_top
{
    margin-top: 100px;
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
    /* align-content: ; */
    justify-content: center;
    align-items: center;

}
.row_bottom {
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
    /* align-content: ; */
    justify-content: center;
    align-items: center;
}
.columns {
    display: flex;
    justify-content: space-between;
  /* margin: 10px; */
}

.column_left {
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    margin-left: 62px;
    /* background: #e8e7e3;
    border: 1px solid #8a8a8a; */
}

.column_right {
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    margin-right: 60px;
  /* background: #e8e7e3;
  border: 1px solid #8a8a8a; */
}

/* .flex-square {
  background-color: #d86565;
  width: 75px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */
.square {
    margin: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    border: 2px solid black;
}
.selectedSqaure {
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(46, 45, 52);
    width: 60px;
    height: 60px;
    border: 2px solid black;
    display: inline-block;
    position: relative;
}

.selectedSqaure::before {
    border-radius: 5px;
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: grey;
    
}